---
import Link from "../components/link.astro";
import Subpage from "../layouts/subpage.astro";
---

<Subpage title="404!">
  <h1
    class="font-title mt-[20%] text-center text-4xl !leading-snug text-yellow-400 italic md:text-6xl"
  >
    Page Not Found
  </h1>
  <Link class="mt-8 block text-center text-lg md:text-xl lg:text-2xl" href="/"
    >Return home</Link
  >
</Subpage>
