---
export const prerender = true;

import SubpageLayout from "../layouts/subpage.astro";
import Link from "../components/link.astro";

// TODO Setup a typography component, apply theming via Tailwind? How to override tho? Does Tailwind actually complicate overriding or are you confused?
---

<SubpageLayout>
  <div
    class="mx-auto mt-[10%] flex flex-col items-center gap-8 p-8 md:max-w-[60%]"
  >
    <h1
      class="text-center font-title text-4xl uppercase italic text-yellow-400 md:text-6xl"
    >
      Oof
    </h1>
    <h2
      class="mb-12 text-center font-title text-2xl text-yellow-200 md:text-4xl"
    >
      Something blew up
    </h2>
    <p class="text-2xl text-green-200 lg:max-w-[75%]">
      Sorry for the incovenience! If you've got the time, let me know about the
      problem at
      <Link class="!text-2xl" href="mailto:zack@grepco.net"
        >zack@grepco.net</Link
      > and I'll take a look.
    </p>
    <Link href="/">Return home</Link>
  </div>
</SubpageLayout>
