---
import SubpageLayout from "../layouts/subpage.astro";
import Link from "../components/link.astro";

import { SEASONS } from "../data";

// TODO Fix styling / actual make this page look sensible
// TODO sort seasons
// TODO test with more seasons added
// TODO Filter out incomplete seasons (Only current and past seasons)
---

<SubpageLayout
  title="Archive"
  description="Listing of seasons tracked for surprise teams so far"
>
  <h1 class="text-center font-title text-2xl text-lime-400 md:text-4xl">
    Archive
  </h1>
  <p>Review surprise teams from seasons past.</p>
  {SEASONS.map((season) => <Link href={`/${season.id}`} />)}
</SubpageLayout>
