---
// TODO Add current / off season detection logic to decide whether to load data; in table, handle absence of upcoming season data
// TODO Fallback content?

import Layout from "../layouts/layout.astro";
import Link from "../components/link.astro";
import StandingsTable from "../components/standings-table.astro";
---

<Layout>
  <main class="p-8 px-0 pb-24 md:px-8">
    <h1 class="text-center font-title text-3xl text-lime-400 md:text-7xl">
      NBA Surprise Teams Tracker
    </h1>
    <nav class="mb-10 mt-8 flex justify-center md:mb-20 md:mt-16">
      <Link href="/info">What is this?</Link>
    </nav>
    <StandingsTable server:defer seasonId={2024} />
  </main>
</Layout>
