---
import Link from "../components/link.astro";
import StandingsTable from "../components/standings-table/index.astro";
import * as ContentUtils from "../content-utils";
import Layout from "../layouts/layout.astro";
import Typography from "../layouts/typography.astro";

const latestSeason = await ContentUtils.getLatestSeason();

if (!latestSeason) {
  throw new Error("Insufficient season data");
}

const teamsInSeason = await ContentUtils.getTeamsInSeason(latestSeason.id);
const isSeasonReady = teamsInSeason.length > 0;

const [, mm, dd] = latestSeason.data.startDate.split("-");
---

<Layout>
  <Fragment slot="header">
    <h1
      class="font-title text-center text-3xl text-balance text-lime-400 md:text-5xl lg:text-7xl"
    >
      NBA Surprise Teams Tracker
    </h1>
    <nav class="mt-8 flex flex-row justify-center gap-4 md:mt-16 md:gap-12">
      <Link class="text-2xl md:text-3xl lg:text-4xl" href="/archive"
        >Archive</Link
      >
      <Link class="text-2xl md:text-3xl lg:text-4xl" href="/stats">Stats</Link>
      <Link class="text-2xl md:text-3xl lg:text-4xl" href="/about">About</Link>
    </nav>
  </Fragment>
  <main class="mt-4 pb-24 sm:mt-16 md:px-8">
    {isSeasonReady && <StandingsTable seasonId={latestSeason.id} />}
    {
      !isSeasonReady && (
        <Typography class="mx-auto px-4 lg:max-w-[60%]">
          <h2 class="font-title text-center text-2xl text-balance text-lime-400 md:text-4xl">
            Countdown to the{" "}
            <span class="whitespace-nowrap">
              {ContentUtils.abbreviateSeasonRange(latestSeason, {
                compact: true,
              })}
            </span>{" "}
            season
          </h2>
          <p class="text-2xl text-green-200">
            Next season kicks off on {`${mm}/${dd}`}! Pre-season over/unders are
            typically posted mid-September. Till then, check out how{" "}
            <Link href="/archive">past years</Link> shook out.
          </p>
        </Typography>
      )
    }
  </main>
</Layout>
