---
import Link from "../components/link.astro";
import Subpage from "../layouts/subpage.astro";
import Typography from "../layouts/typography.astro";
---

<Subpage
  description="Methodology for sourcing past seasons' data"
  title="Data Sourcing"
>
  <Typography class="mx-auto px-4 text-green-200 lg:max-w-[60%]">
    <h1 class="text-center font-title text-2xl text-lime-400 md:text-4xl">
      Data Sourcing
    </h1>
    <p class="text-2xl text-green-200">
      The dataset collected here covers from the earliest season for which we
      have preseason over/under data, 1993, to the present day. Data was
      selected as follows:
    </p>
    <ol class="text-2xl text-green-200">
      <li>
        From the numbers announced on the <span class="italic">Slam N' Jam</span
        > itself. This covers 2021 through, at the time of writing, 2024.
      </li>
      <li>
        The remaining seasons — 1993-2019 — were sourced from
        <Link
          href="https://www.basketball-reference.com/leagues/NBA_2024_preseason_odds.html"
          target="_blank">Basketball Reference</Link
        >, itself sourcing data from <Link
          href="https://www.sportsoddshistory.com/nba-regular-season-win-total-results-by-team/"
          target="_blank"
        >
          sportsoddshistory.com</Link
        >.
      </li>
    </ol>
    <h2
      class="text-center font-title text-xl text-lime-400 underline md:text-2xl"
    >
      Missing Seasons
    </h2>
    <p class="text-2xl text-green-200">
      4 seasons since 1993 are not represented in the dataset: 1994, 1995, 1998,
      and 2019.
    </p>
    <p class="text-2xl text-green-200">
      Per <Link
        href="https://www.sportsoddshistory.com/nba-regular-season-win-total-results-by-team-1990s/"
        target="_blank">sportsoddshistory</Link
      >, we don't have data for those seasons from the '90s.
    </p>
    <p class="text-2xl text-green-200">
      2019, of course, was the COVID year. Given the uneven number of games
      played across teams and the fact that <Link
        href="https://www.sportsoddshistory.com/nba-regular-season-win-total-results-by-team/"
        target="_blank">bets were voided</Link
      > for that year, that season seems, reasonably, too extraodinary to compare
      to others. To be totally clear, this is not a comment on the validity of the
      end result of that season.
    </p>
    <h2
      class="text-center font-title text-xl text-lime-400 underline md:text-2xl"
    >
      Shortened Seasons
    </h2>
    <p class="text-2xl text-green-200">
      This dataset contains 2 seasons shortened from the standard 82 games: 2011
      and 2020.
    </p>
    <p class="text-2xl text-green-200">
      For those seasons, the over/under (36 wins, preseason) and surprise (+10
      over preseason) cutoffs have been adjusted proportionately to the actual
      season lengths. Does this make sense? Not sure! I majored in English in
      college, please give me a shout if it turns out I'm bad at statistics
    </p>
    <p class="text-2xl text-green-200">
      So, taking the 2020 season for example, where only 72 games were played
      due to COVID-related scheduling adjustments:
    </p>
    <p class="text-2xl text-green-200">
      <span class="underline">Over/Under cutoff:</span>
      <code class="inline-block text-base italic text-yellow-400"
        >(36 o/u / 82 games) * 72 = 32 (~31.61, rounded up)
      </code>
    </p>
    <p class="text-2xl text-green-200">
      <span class="underline">Surprise cutoff:</span>
      <code class="inline-block text-base italic text-yellow-400"
        >(10 pace / 82 games) * 72 = 9 (~8.78, rounded to nearest integer)</code
      >
    </p>
    <h2
      class="text-center font-title text-xl text-lime-400 underline md:text-2xl"
    >
      Icons
    </h2>
    <p class="text-2xl text-green-200">
      Last but not least: where did the goofy icons come from?
    </p>
    <p class="text-2xl text-green-200">
      Almost all are variations on or direct usage of emoji from <Link
        href="https://github.com/twitter/twemoji"
        target="_blank">Twitter's emoji font</Link
      >
      (<Link href="https://twemoji-cheatsheet.vercel.app/" target="_blank"
        >This app</Link
      > was surpremely useful for poking around and finding NBA-team-adjacent characters).
    </p>
    <p class="text-2xl text-green-200">
      Almost, meaning all except the Sonics logo, which I painstakingly stapled
      together with my fine graphic design skills. It's the Space Needle! Cool!
    </p>
  </Typography>
</Subpage>
