---
import SubpageLayout from "../../layouts/subpage.astro";
import Logo from "../../components/logo.astro";
import TeamStats from "../../components/team-stats.astro";
import { TEAM_SEASONS, getTeamById, getTeamSeason } from "../../data";
import type { TeamCodeType } from "../../data";

export function getStaticPaths() {
  return TEAM_SEASONS.map((ts) => ({
    params: { season: ts.season, team: ts.team },
  }));
}

// non-null assertion here as we're taking for granted that I didn't fuck up our constants and
// that TEAM_SEASONS has "referential integrity"
const team = getTeamById(Astro.params.team as TeamCodeType)!;
const teamSeason = getTeamSeason(
  Astro.params.team,
  // TODO File bug? param mistyped; typed as a number in IDE, but actually a string
  // @ts-ignore
  Number.parseInt(Astro.params.season, 10),
)!;
---

<SubpageLayout>
  <div class="flex flex-col items-center justify-center gap-8 lg:flex-row">
    <Logo team={team.id} class="w-[96px]" />
    <h1 class="text-center font-title text-4xl text-lime-400">
      {team.name}
    </h1>
  </div>
  <TeamStats teamSeason={teamSeason} />
</SubpageLayout>
