---
interface Props {
  class?: string;
}

const { class: classStr, ...attrs } = Astro.props;
---

<div
  class:list={[
    "mx-auto flex flex-col items-center p-8 md:max-w-[60%]",
    classStr,
  ]}
  {...attrs}
>
  <p
    class="font-title text-center text-4xl text-yellow-400 uppercase italic md:text-6xl"
  >
    Oof!
  </p>
  <p class="font-title mb-4 text-center text-2xl text-yellow-400 md:text-4xl">
    Something blew up
  </p>
  <p class="text-center text-2xl text-yellow-200 lg:max-w-[60%]">
    Sorry for the incovenience! Check back later; we'll have this fixed.
  </p>
</div>
