---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;
const { href, class: classStr, ...attrs } = Astro.props;
---

<a
  href={href}
  class:list={[
    "text-2xl text-indigo-400 underline hover:text-indigo-100 md:text-4xl",
    classStr,
  ]}
  {...attrs}
>
  <slot />
</a>
