---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"table"> {
  // Disabling per following Astro's pattern for requiring passing children to default slot: https://docs.astro.build/en/guides/typescript/#common-prop-type-patterns
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  children: any;
  class?: string;
  compact?: boolean;
  stickyHeader?: boolean;
}

const {
  /*
    Classes available:
    - compact: tightens dimensions of table
    - stickyHeader: makes header row sticky

    TODO: Try cva here, might simplify / make API more explicit?
  */
  class: classStr,
  ...attrs
} = Astro.props;
---

<style>
  @reference "../styles/global.css";

  .NBASurpriseTracker-Table {
    @apply shadow-glow table-fixed border-collapse;

    > thead,
    > tfoot {
      @apply bg-slate-950;
    }

    > thead th,
    > thead td {
      /* pr-4 aligns right-edge of th text with td text in col (all cells right-aligned) */
      @apply p-6 pr-4 text-right text-3xl text-lime-400 lg:text-4xl;
    }

    > tbody th,
    > tbody td {
      @apply px-4 py-8 text-3xl text-green-200 lg:text-4xl;
    }

    > tbody > tr {
      &:nth-of-type(2n + 1) {
        @apply bg-lime-950;
      }
    }

    &.compact {
      @apply shadow-glow-sm;

      > thead th,
      > thead td {
        /* pr-4 aligns right-edge of th text with td text in col (all cells right-aligned) */
        @apply p-3 pr-4 text-2xl;
      }

      > tbody th,
      > tbody td {
        @apply px-4 py-4 text-2xl text-green-200;
      }
    }

    &.stickyHeader {
      @apply relative;

      > thead th,
      > thead td {
        /* Unsure that z-index rule is right here, solved for ensuring header appeared above relatively-positioned links on standings-table */
        @apply sticky top-0 z-10 bg-slate-950;
      }
    }
  }
</style>

<table class:list={["NBASurpriseTracker-Table", classStr]} {...attrs}>
  <thead>
    <slot name="head" />
  </thead>
  <tbody>
    <slot name="body" />
  </tbody>
  <tfoot>
    <slot name="foot" />
  </tfoot>
</table>
