---
import Layout from "./layout.astro";
import Link from "../components/link.astro";
---

<Layout>
  <header class="p-8">
    <nav class="flex flex-row items-center gap-16">
      <a href="/" class="font-title text-sm text-lime-400 md:text-2xl">
        {/* TODO Better way to do this? br and nbsps feels hacky */}
        NBA&nbsp;Surprise<br />Teams&nbsp;Tracker
      </a>
      <Link class="text-xl md:text-2xl" href="/info">What is this?</Link>
    </nav>
  </header>
  <main class="space-y-12 pb-16">
    <slot />
  </main>
</Layout>
